<%-include("__header")%>
<div class="container-fluid">
    <%-include("__logoAndNavConstruction")%>
    
    <div class="breadcrumbHeading">
        <h2 class="crumbHeading d-flex justify-content-center">Construction</h2>
        <nav aria-label="breadcrumb" class="d-flex justify justify-content-center">
        <ol class="breadcrumb  bg-body-success rounded-3">
            <li class="breadcrumb-item">
            <a  href="/"class="link-body-emphasis" >
                Home
            </a>
            </li>
            <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Construction</a>
            </li>
        </ol>
        </nav>
    </div>

    <!-- Booking section -->
    <div class="container">
        <div class="col">
            <div class="card h-100 mb-2 mt-2 shadow-sm custom-border-color">
                <div class="card-body">
                    <p class="card-text">
                        NSR Pro specializes in high-quality construction services tailored to meet your unique needs.
                         From residential homes to commercial buildings, our experienced team ensures every project is
                          completed with precision, on time, and within budget. We use the latest techniques and materials 
                          to deliver durable, aesthetically pleasing structures that stand the test of time.
                    </p>
                  
                </div>
            </div>
        </div>
        <%-include ("__newRequestForm")%>
         
            <div >
                <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
            </div>
                    <script>
                       


                                                    
                    </script>
                       

                        
                   
                
               
            



    </div>

    <%-include("__footer")%>
</div>
