<%-include("__header")%>
<div class="container-fluid">
    <%-include("__logoAndNavElectrical")%>
    <hr class="gradient-hr nav">
    
    <div class="breadcrumbHeading">
        <h2 class="crumbHeading d-flex justify-content-center">Electrical</h2>
        <nav aria-label="breadcrumb" class="d-flex justify justify-content-center">
        <ol class="breadcrumb  bg-body-success rounded-3">
            <li class="breadcrumb-item">
            <a  href="/"class="link-body-emphasis" >
                Home
            </a>
            </li>
            <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Electrical</a>
            </li>
        </ol>
        </nav>
    </div>

    <!-- Booking section -->
    <div class="container">
        <div class="col">
            <div class="card h-100 mb-2 mt-2 shadow-sm custom-border-color">
                <div class="card-body">
                    <p class="card-text">
                        

Don’t be left in the dark! Maybe you’re looking for a generator to be installed with a C.O.C? 
The NSR Pro’s electrical division offers workmanship with a warranty.
 We are a team of qualified electrical contractors who take pride in the professional quality 
 of work we produce, offering a diverse range of property electrical services in and around any
  property in Bloemfontein.

                    </p>
                  
                </div>
            </div>
        </div>
        <%-include ("__newRequestForm")%>
         
            <div >
                <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
            </div>
                    <script>
                       


                                                    
                    </script>
                       

                        
                   
                
               
            



    </div>

    <%-include("__footer")%>
</div>
