<%- include("__header")%>
<h1 class="d-flex justify-content-center">NSR Admin Portal</h1>
<%-include("__logoAndNavAdminNewRequest")%>
<div class="container">
    <%- include("__newRequestFormAdmin") %>
<%- include("__footer")  %>
</div>
