<%-include("__header")%>
<div class="container-fluid">
    <%-include("__logoAndNavPlumbing")%>
    <div class="breadcrumbHeading">
        <h2 class="crumbHeading d-flex justify-content-center">Plumbing</h2>
        <nav aria-label="breadcrumb" class="d-flex justify justify-content-center">
        <ol class="breadcrumb  bg-body-success rounded-3">
            <li class="breadcrumb-item">
            <a  href="/"class="link-body-emphasis" >
                Home
            </a>
            </li>
            <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Plumbing</a>
            </li>
        </ol>
        </nav>
    </div>

    <!-- Booking section -->
    <div class="container">
        <div class="col">
            <div class="card h-100 mb-2 mt-2 shadow-sm custom-border-color">
                <div class="card-body">
                    <p class="card-text">
                        Did you know that if you have a leaky faucet that drips twice per minute, 
                        you will waste over 3.7 litres of water per week? Efficient plumbing
                         services in any building, whether residential or commercial, is not only
                          crucial for hygiene purposes but can also save you money. Ensuring people
                           have access to fresh, clean water is our plumbing division’s driving
                            ethos. NSR Pro’s plumbing services extend to solutions including 
                            swimming pool plumbing, solar geyser installations, and COC’s.

                    </p>
                  
                </div>
            </div>
        </div>
        <%-include ("__newRequestForm")%>
         
            <div >
                <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
            </div>
                    <script>
                       


                                                    
                    </script>
                       

                        
                   
                
               
            



    </div>

    <%-include("__footer")%>
</div>
