<%-include("__header")%>
<div class="container-fluid">
    <%-include("__logoAndNavRenovations&Maintenance")%>
    <div class="breadcrumbHeading">
        <h2 class="crumbHeading d-flex justify-content-center">Renovations & Maintenance</h2>
        <nav aria-label="breadcrumb" class="d-flex justify justify-content-center">
        <ol class="breadcrumb  bg-body-success rounded-3">
            <li class="breadcrumb-item">
            <a  href="/"class="link-body-emphasis" >
                Home
            </a>
            </li>
            <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Renovations & Maintenance</a>
            </li>
        </ol>
        </nav>
    </div>

    <!-- Booking section -->
    <div class="container">
        <div class="col">
            <div class="card h-100 mb-2 mt-2 shadow-sm custom-border-color">
                <div class="card-body">
                    <p class="card-text">
                        When it comes to sorting out property maintenance around the house, 
                        office or factory, you’d ideally like your preferred service provider
                         to be both qualified, skilled and hands-on. In the case of NSR Pro’s 
                         renovations & general maintenance division, we tick both boxes. The work
                          we undertake is of excellent standard, and we use only superior products
                           and materials on our renovation and maintenance projects.

                    </p>
                  
                </div>
            </div>
        </div>
        <%-include ("__newRequestForm")%>
         
            <div >
                <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
            </div>
                    <script>
                       


                                                    
                    </script>
                       

                        
                   
                
               
            



    </div>

    <%-include("__footer")%>
</div>
